<?xml version="1.0"?>
<robot name="armor_model">
  <link name="armor_frame" />

  <link name="armor_body">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <!-- 装甲板尺寸 -->
        <box size="0.135 0.055 0.02" />
      </geometry>

      <material name="armor_blue">
        <color rgba="0.10 0.5 0.8 0.9" />
      </material>

    </visual>
  </link>

  <joint name="armor_body_fixed_joint" type="fixed">
    <parent link="armor_frame" />
    <child link="armor_body" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>